USE [master]
GO
/****** Object:  Database [J2LP0001]    Script Date: 11/19/2019 11:25:26 AM ******/
CREATE DATABASE [J2LP0001]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J2LP0001', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\J2LP0001.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'J2LP0001_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\J2LP0001_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J2LP0001].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J2LP0001]
GO
/****** Object:  Table [dbo].[tblItems]    Script Date: 11/19/2019 11:25:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblItems](
	[itemCode] [nchar](5) NOT NULL,
	[itemName] [nvarchar](50) NULL,
	[supCode] [nvarchar](5) NULL,
	[unit] [nvarchar](10) NULL,
	[price] [int] NULL,
	[supplying] [bit] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[itemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSuppliers]    Script Date: 11/19/2019 11:25:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSuppliers](
	[SupCode] [nvarchar](5) NOT NULL,
	[SupName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[colloborating] [bit] NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblItems] ([itemCode], [itemName], [supCode], [unit], [price], [supplying]) VALUES (N'1    ', N'Samsung', N'FPT', N'10sad', 20000000, 1)
INSERT [dbo].[tblItems] ([itemCode], [itemName], [supCode], [unit], [price], [supplying]) VALUES (N'1212 ', N'Samsung Galaxy S3', N'FPT', N'10', 30000000, 1)
INSERT [dbo].[tblItems] ([itemCode], [itemName], [supCode], [unit], [price], [supplying]) VALUES (N'es   ', N's3', N'PV', N'1234567890', 9000000, 0)
INSERT [dbo].[tblSuppliers] ([SupCode], [SupName], [Address], [colloborating]) VALUES (N'FPT', N'FPT Group', N'Quan 9', 1)
INSERT [dbo].[tblSuppliers] ([SupCode], [SupName], [Address], [colloborating]) VALUES (N'PV', N'Phong Vu', N'Ha Noi', 1)
INSERT [dbo].[tblSuppliers] ([SupCode], [SupName], [Address], [colloborating]) VALUES (N'TGDD', N'The Gioi Di Dong', N'TP HCM', 1)
ALTER TABLE [dbo].[tblItems]  WITH CHECK ADD  CONSTRAINT [FK_Items_Suppliers1] FOREIGN KEY([supCode])
REFERENCES [dbo].[tblSuppliers] ([SupCode])
GO
ALTER TABLE [dbo].[tblItems] CHECK CONSTRAINT [FK_Items_Suppliers1]
GO
USE [master]
GO
