USE [master]
GO
/****** Object:  Database [FU_DB]    Script Date: 11/19/2019 7:25:29 AM ******/
CREATE DATABASE [FU_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FU_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FU_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FU_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FU_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FU_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FU_DB]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 11/19/2019 7:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[StockID] [int] NOT NULL,
	[StockName] [text] NULL,
	[Address] [text] NULL,
	[DateAvailable] [date] NULL,
	[Note] [text] NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Stocks] ([StockID], [StockName], [Address], [DateAvailable], [Note]) VALUES (1, N'Stock one', N'No1 - Washington', CAST(N'2010-05-11' AS Date), N'')
INSERT [dbo].[Stocks] ([StockID], [StockName], [Address], [DateAvailable], [Note]) VALUES (2, N'Stock two', N'372 Cave town', CAST(N'2010-07-09' AS Date), N'')
INSERT [dbo].[Stocks] ([StockID], [StockName], [Address], [DateAvailable], [Note]) VALUES (3, N'Stock three', N'Nary angel - 890', CAST(N'2010-05-13' AS Date), N'Store dangerous')
USE [master]
GO
